<head>

  <h2><tt> tinyApp </tt></h2>

</head>



<% if (userID) {%>

<p>
  <form action="/logout " method="POST">
    <input type="submit" value="Logout">
  </form>
</p>

<% } else { %>


<tt>
<%= "login or register to create, save and display tinyURLs!" %>
</tt>
<p>
<form action="/login " method="GET">
  <input type="submit" value="Login">
</form>

<form action="/register " method="GET">
  <input type="submit" value="Register">
</form>

<% } %>

</p>


