<head>

<h1> Tiny App </h1>

</head>



<% if (userID) {%>

<%= userID + " is logged in."  %>

<form action="/logout " method="POST">
      <input type="submit" value="Logout">
    </form>


<% } else { %>

<%= "Please login or register" %>

<form action="/login " method="GET">

      <input type="submit" value="Login">
    </form>

<form action="/register " method="GET">
      <input type="submit" value="Register">
    </form>
    <% } %>

