<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <style>
    </style>
  </head>
    <body style="font-size:20px; padding:50px;">
      <% include ./partials/_header %>

      <% if (userID) { %>

      <form action="/urls" method="POST" style="margin:150px;">
        <label for="longURL"> <tt>enter a new URL:</tt></label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
      </form>

      <% } else { %>

      <tt>
      <%= "Only registered users may add new URLS " %>
      </tt>
   <% } %>
  </body>
</html>