<!DOCTYPE html>
  <html lang="en">
    <head>
      <% include ./partials/_header%>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">

<% if (registryError) { %>

<tt>
<%= "invalid email or password. please retry" %>
</tt>

<% } %>

<form action="/register " method="POST">
  <label ><tt>email:</tt></label>
    <input name="email"  style="width: 300px">
      <label ><tt>password:</tt></label>
      <input name="password" type="password" style="width: 300px">
    <input type="submit" value="Submit">
</form>
